STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DB_NAME=medusa-v2
# keep Neon credentials secure: do not expose them to client-side code
DATABASE_URL='postgresql://neondb_owner:npg_5dEHnRywsW9m@ep-bold-pine-ad60h9sk-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'
ODOO_URL=https://medusa8.odoo.com
ODOO_DB_NAME=medusa8
ODOO_USERNAME=ahmedelsayedsaed@gmail.com # username or email
ODOO_API_KEY=55e75d43fdf2ecf1801e7029025cda8615f0b41f